.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding: 78px 46px 66px;
  border-radius: 16px;
}

.title {
  color: var(--foreground);
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 68px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 364px;
}

.inputWrapper div:first-child {
  margin-bottom: 6px;
}

.input {
  border: none;
  border-radius: 16px;
  background: var(--muted-background);
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 17px 18px;

  font-family: var(--primary-font);
  color: var(--foreground);
}

.input::placeholder {
  color: var(--muted-foreground);
  font-family: var(--primary-font);
}

.input:focus,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary);
}

.error {
  font-family: var(--primary-font);
  color: var(--destructive);
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 8px;
}

.button {
  background: var(--primary);
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 17px 30px;
  border-radius: 16px;
  border: none;

  color: var(--background);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
}

.button.loading {
  opacity: 0.8;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkbox {
  display: block;
  accent-color: var(--primary);
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.checkboxText {
  display: block;
  width: fit-content;
  color: var(--light-foreground);
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.75;
}
